<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Master of Science (M.Sc.) in Econometrics and Management Science</h1>
            <span>Erasmus University Rotterdam</span>
            <span><address>Rotterdam, NL</address><time>2017 - 2019</time></span>
        </header>
        <p>
            <em>Specialisation in Operations Research and Quantitative Logistics</em>
        </p>
        <p>
            <em>Thesis: Improving Data Compression Based On Deep Learning</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Bachelor of Science (B.Sc.) in Industrial and Applied Mathematics</h1>
            <span>Delft University of Technology</span>
            <span><address>Delft, NL</address><time>2013 - 2017</time></span>
        </header>
        <p>
            <em>Thesis: BagDrop - Computationally Feasible Approximate Bagging with Neural Networks</em>
        </p>
    </article>
</section>
