<section class="thirteen columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h1>Data Scientist - Adyen</h1>
            <span><address>Amsterdam, NL</address><time>June 2020 - present</time></span>
        </header>
        <p>Improving risk behaviour monitoring using machine learning.</p>
    </article>
    <article>
        <header>
            <h1>Machine Learning Research - UCL Centre for Artificial Intelligence</h1>
            <span><address>Amsterdam, NL and London, UK</address><time>March 2020 - June 2020</time></span>
        </header>
        <p>Working with Thomas Bird and David Barber from UCL on more memory efficient deep generative models.</p>
    </article>
    <article>
        <header>
            <h1>Visiting Student Researcher - Berkeley Artificial Intelligence Research (BAIR)</h1>
            <span><address>Berkeley, US</address><time>September 2018 - June 2019</time></span>
        </header>
        <p>Research at the junction of deep unsupervised learning and information theory, advised by Pieter Abbeel and Jonathan Ho. Designed a novel compression algorithm called "Bit-Swap" that uses a recursive extension of bits-back coding to exploit hierarchical VAE's. The method is able to outperform many established lossless compression techniques on images.</p>
    </article>
</section>
