<section class="thirteen columns">
    <h1>Publications</h1>
    <article>
        <header>
            <h1>Reducing the Computational Cost of Deep Generative Models with Binary Neural Networks</h1>
            <span>Ninth International Conference on Learning Representations (<strong>ICML</strong>)</span>
            <span><address>Virtual</address><time>2021</time></span>
        </header>
        <p>
            [<a href="https://arxiv.org/abs/2010.13476">preprint</a>] [<a href="{{ site.baseurl }}static/binary/binary.bib">citation</a>]
        </p>
    </article>
    <article>
        <header>
            <h1>Improving Data Compression Based On Deep Learning</h1>
            <span>M.Sc. thesis, Erasmus University Rotterdam</span>
            <span><address>Rotterdam, NL</address><time>2019</time></span>
        </header>
        <p>
            [<a href="https://thesis.eur.nl/pub/50599">thesis</a>] [<a href="{{ site.baseurl }}static/improvingdata/improvingdata.bib">citation</a>]
        </p>
    </article>
    <article>
        <header>
            <h1>Bit-Swap: Recursive Bits-Back Coding for Lossless Compression with Hierarchical Latent Variables</h1>
            <span>Proceedings of the International Conference on Machine Learning (<strong>ICML</strong>)</span>
            <span><address>Long Beach, US</address><time>2019</time></span>
        </header>
        <p>
            [<a href="https://arxiv.org/abs/1905.06845">paper</a>] [<a href="{{ site.baseurl }}static/bitswap/bitswap.bib">citation</a>] [<a href="https://youtu.be/gR-P41Pis24">talk</a>] [<a href="{{ site.baseurl }}static/bitswap/bitswap.pdf">slides</a>] [<a href="{{ site.baseurl }}static/bitswap/poster_bitswap.pdf">poster</a>] [<a href="https://github.com/fhkingma/bitswap">code</a>] [<a href="https://bair.berkeley.edu/blog/2019/09/19/bit-swap/">blogpost</a>] [<a href="https://youtu.be/0IoLKnAg6-s?t=5680">berkeley lectures '19</a>] [<a href="https://youtu.be/pPyOlGvWoXA?t=9803">berkeley lectures '20</a>]
        </p>
    </article>
    <article>
        <header>
            <h1>BagDrop: Computationally Feasible Approximate Bagging with Neural Networks</h1>
            <span>B.Sc. thesis, Delft University of Technology</span>
            <span><address>Delft, NL</address><time>2017</time></span>
        </header>
        <p>
            [<a href="https://repository.tudelft.nl/islandora/object/uuid%3Ae1b4aacf-efa2-461b-8335-f4415fa8c407?collection=education">thesis</a>] [<a href="{{ site.baseurl }}static/bagdrop/bagdrop.bib">citation</a>]
        </p>
    </article>
</section>
